/* Main Layout Container */
.layout-container {
  display: flex;
  width: 95%;
}

/* Images Section */
.images-container {
  flex: 1;
  padding: 5px;
}

.image-item {
  margin-bottom: 10px;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* Text Section */
.text-container {
  flex: 1;
  padding: 15px;
  display: flex;
  align-items: top;
  justify-content: top;
  color: black;
  line-height: 1.6;
  text-align: left;
}

.fixed {
  position: fixed;
  width: 48%;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.text {
  font-size: 18px;
}

.date {
  font-size: 12px;
}

.link {
  font-size: 16px;
}

.source {
  font-size: 16px;
}
