.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #d2d2d2;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 10px;
  z-index: 1000;
}

.start-button {
  background-color: #d2d2d2;
  color: black;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.separator {
  width: 1px;
  height: 30px;
  background-color: #9d9d9d;
  margin: 0 10px;
  align-self: center;
}

.taskbar-icons {
  display: flex;
  gap: 10px;
}

.taskbar-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #d2d2d2;
  line-height: 30px;
  cursor: pointer;
  color: black;
}

.left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
}
