.window {
  position: absolute;
  background-color: #ffffff;
  border: 6px double #000;
  border-radius: 1%;
  z-index: 1000;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
  resize: none;
}

.window-header {
  background-color: #000080;
  color: white;
  padding: 5px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-icon {
  width: 20px; /* Adjust size as needed */
  height: 20px;
  margin-right: 8px;
}

.window-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-header button {
  float: right;
  background-color: #d2d2d2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 15px;
  cursor: pointer;
  padding: 0 5px;
}

.window-header button:hover {
  background-color: red;
  color: white;
}

.window-content {
  background-color: #d2d2d2;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  resize: none;
}
