@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

body {
  color: #dedede;
  font-size: normal;
  font-family: "Pretendard", sans-serif;
  font-weight: normal;
}

.border {
  border: 20cap;
  border: white;
}

.app-layout-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* Needs work depending on the page content */
.routes-layout-box {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 90vh;
  margin-right: 10%;
}

.appbar {
  position: absolute;
  width: 20%;
  height: auto;
  background-color: transparent;
  box-shadow: none;
  flex-direction: column;
  align-items: flex-start;
  left: 6%;
  top: 11%;
}

.credit {
  position: absolute;
  justify-content: left;
  text-align: left;
  bottom: 3vh;
  font-size: x-small;
}

.name {
  color: #dedede;
  font-size: xxx-large;
  font-family: "Pretendard", sans-serif;
  font-weight: lighter;
}

.title {
  color: #dedede;
  font-size: normal;
  font-family: "Pretendard", sans-serif;
  font-weight: lighter;
  padding-left: 0.2cap;
  padding-bottom: 8%;
}

.page-content {
  color: #dedede;
  font-size: normal;
  font-family: "Pretendard", sans-serif;
  font-weight: normal;
}

.page-bold {
  color: #dedede;
  font-size: large;
  font-family: "Pretendard", sans-serif;
  font-weight: bold;
}

.page-light {
  color: #dedede;
  font-size: normal;
  font-family: "Pretendard", sans-serif;
  font-weight: lighter;
}

.page-subscript {
  color: #c9c1c1;
  font-size: x-small;
  font-family: "Pretendard", sans-serif;
  font-weight: lighter;
}

.content-alignment {
  width: 20%;
}

.content-link {
  color: #dedede;
  font-size: normal;
  font-family: "Pretendard", sans-serif;
  font-weight: normal;
  text-transform: capitalize;
  justify-content: flex-end;
}

.project-alignment {
  width: 30%;
}

.project-info {
  display: flex;
  justify-content: flex-end;
}

.project-link {
  color: #dedede;
  font-size: normal;
  font-family: "Pretendard", sans-serif;
  font-weight: lighter;
  justify-content: flex-end;
}

.project-link-area {
  padding-top: 10%;
}

.project-back-button {
  padding-top: 5%;
}
