@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App {
  display: flex;
  height: 95vh;
  overflow: hidden;
}

.desktop-icons {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 3vh;
  padding-left: 1.5vw;
  width: 5vw;
}

.desktop-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5%;
  text-align: center;
  cursor: pointer;
  color: white;
  transition: transform 0.2s ease, color 0.2s ease;
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}

.desktop-icon:hover {
  background-color: #007777;
}

.desktop-icon img {
  width: 50px;
  height: 50px;
  transition: transform 0.2s ease;
}

.desktop-icon a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  margin-top: 6px;
}

.taskbar {
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}

iframe {
  width: 100%;
  height: calc(100% - 30px);
  border: none;
}

button {
  width: 20px;
  height: 20px;
  border-radius: 0;
  padding: 0;
  font-family: inherit;
}
